@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Castoro", serif;
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

a {
  transition: opacity 0.25s;
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.banner {
  padding-top: 160px;
}

.banner-title,
.banner-subtitle {
  font-size: 8rem;
}

.banner-subtitle {
  width: 48%;
  margin-left: auto;
}

.banner-img {
  display: block;
  margin: 0 auto;
}

.intro {
  background: #efefef;
  padding-top: 48px;
  padding-bottom: 48px;
}

.intro-desc {
  width: 48%;
  margin-left: auto;
  font-size: 2rem;
}

.about {
  padding-top: 80px;
  padding-bottom: 160px;
}

.about-list {
  width: 49%;
}

.about-item + .about-item {
  margin-top: 40px;
}

.about-item-title {
  color: #ae0000;
  font-size: 2.5rem;
  border-bottom: solid 3px #ae0000;
  margin-bottom: 16px;
}

.about-item-date {
  display: block;
  font-size: 1.25rem;
  color: #949494;
  font-style: italic;
}

.about-item-list li {
  font-size: 1.5rem;
}

footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #000;
}

.social-list {
  text-align: center;
}

.social-list li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}
